<header>
  <div class="container header-container">
    <div class="logo-area">
        <a routerLink="/" class="logo-link">
        <img src="prettyDecentLogo.svg" alt="Pretty Decent" class="logo-img">
        </a>
    </div>

    <button class="hamburger-btn" (click)="toggleMenu()" [class.open]="isMenuOpen" aria-label="Open menu">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </button>

    <nav class="main-nav" [class.open]="isMenuOpen">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" (click)="isMenuOpen = false">Home</a></li>
        <li><a routerLink="/menu" routerLinkActive="active" (click)="isMenuOpen = false">Menu</a></li>
        <li><a routerLink="/about" routerLinkActive="active" (click)="isMenuOpen = false">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" (click)="isMenuOpen = false">Contact</a></li>
        @if(authService.isLoggedIn()) {
          <li class="mobile-only"><button class="btn" routerLink="/admin">Admin</button></li>
          <li class="mobile-only"> <button class="btn logout-btn" (click)="logout()">Logout</button></li>
        }@else {
        <li class="mobile-only"><button class="btn book-table" routerLink="/booking" (click)="isMenuOpen = false">Book table</button></li>
        }
      </ul>
    </nav>

    <div class="header-actions">
      @if(authService.isLoggedIn()) {
        <button class="btn" routerLink="/admin">Admin</button>

        <button class="btn logout-btn" (click)="logout()">Logout</button>
      } @else {
        <button class="btn book-table" routerLink="/booking">Book a table</button>
      }

    </div>
  </div>
</header>