.admin-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 60px;
}

.admin-container h1 {
    grid-column: 1 / 3;
}

.admin-left {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl)
}

.show-menu-items {
    background-color: aliceblue;
}

.show-bookings{
}

.add-menu-item {
}

.show-messages {

}

.add-account {
   
}