<div class="container admin-container">

    <h1>Välommen administratör!</h1>

    <!-- Table reservations -->
    <section class="show-bookings admin-block">
        <h2>Reservationer</h2>

        @if(currentReservations().length === 0) {
            Inga reservationer att visa
        }

        @for(reservation of currentReservations(); track reservation._id) {
            <article class="reservation">
                @if (editingId === reservation._id) {
                    <form class="edit-reservation">
                        <label> Datum:
                            <input type="datetime-local" [value]="reservation.date ? reservation.date.slice(0, 16) : ''"  (input)="reservation.date = $any($event.target).value" name="date"  name="date" class="edit-field">
                        </label>

                        <label> Gäster:
                            <input type="number" [(ngModel)]="reservation.guests" name="guests" class="edit-field">
                        </label>

                        <label> Namn:
                            <input type="text" [(ngModel)]="reservation.name" name="name" class="edit-field">
                        </label>

                        <label> Särskilda önskemål:
                            <textarea [(ngModel)]="reservation.requests" name="requests" class="edit-field"></textarea>
                        </label>

                        <label>Status:
                            <select [(ngModel)]="reservation.status" name="status" class="edit-field">
                                <option value="newBooking">Ny bokning</option>
                                <option value="confirmed">Bekräftad</option>
                                <option value="cancelled">Avbokad</option>
                            </select>
                        </label>

                        <div class="edit-reservation-buttons">
                            <button (click)="saveUpdatedReservation(reservation)" class="btn">Uppdatera</button>
                            <button (click)="cancelEdit()" class="secondary-btn">Avbryt</button>
                        </div>
                        
                    </form>
                } @else {
                <div class="res-block res-date">
                    <span class="res-label">Datum</span>
                    <span>{{ displayDateTime(reservation.date) }}</span>
                </div>
                <div class="res-block res-guests">
                    <span class="res-label">Gäster</span>
                    <span>{{ reservation.guests }}</span>
                </div>
                <div class="res-block res-name">
                    <span class="res-label">Namn</span>
                    <span>{{ reservation.name }}</span>
                </div>
                <div class="res-block res-requests">
                    <span class="res-label">Särskilda önskemål</span>
                    <span> 
                        @if(reservation.requests === "") {
                            -
                        } @else {
                            {{ reservation.requests }}
                        }
                     </span>
                </div>
                <div class="res-block res-status">
                    <span class="res-label">Status</span>
                    <div>
                        @if(reservation.status === "newBooking"){
                            <span class="res-status-block res-new">Ny bokning</span>

                        }@if(reservation.status === "confirmed"){
                            <span class="res-status-block res-confirmed">Bekräftad</span>

                        } @if(reservation.status === "cancelled"){
                            <span class="res-status-block res-cancelled">Avbokad</span>
                        }
                    
                    </div>
                </div>
                <div class="res-block res-tools">
                    <button (click)="editReservation(reservation)" class="btn res-edit"><span class="material-icons res-edit-icon">edit</span>Ändra</button>
                </div>
                }
            </article>
        }
    </section>

    <!-- Messages -->
    <section class="show-messages admin-block">
        <h2>Meddelanden</h2>
        @for(message of messages(); track message._id) {
            <article class="message">
                <div class="message-title"><h3>{{ message.title }}</h3> 
                    <div class="message-status">
                        <select (change)="changeStatus(message)" class="message-status" name="status" [(ngModel)]="message.status" [ngClass]="{
                            'message-status_new': message.status === 'new',
                            'message-status_answered': message.status === 'answered',
                            'message-status_pending': message.status === 'pending' }">>
                            <option value="new">Nytt meddelande</option>
                            <option value="answered">Besvarad</option>
                            <option value="pending">Behandlas</option>
                        </select>
                    </div>
                </div>
                <div class="message-timestamp"> <span class="message-label">Togs emot:</span> {{ displayTimestamp(message.created) }}</div>
                <div class="message-sender"> <span class="message-label">Från:</span> {{ message.name }}, {{ message.email }}</div>
                <div class="message-message"><span class="message-label">Meddelande:</span> <br> {{ message.message }}</div>
                
            </article>
        }
    </section>


    <!-- Show and edit menu items -->
    <section class="admin-block show-menu-items">
        <h2>Meny</h2>

        @if (errorMessage()) {
            <div class="error-message">{{ errorMessage() }}</div>
        }

        @for(item of menuItems(); track item._id ) {
            <div class="menu-item">
            @if (editingId === item._id) {
                <input type="text" [(ngModel)]="item.name" class="edit-field">

                <textarea name="description" [(ngModel)]="item.description" class="edit-field"></textarea>

                <input type="number" [(ngModel)]="item.price" class="edit-field">

                <select [(ngModel)]="item.type" name="type" class="edit-field">
                    <option [value]="null" disabled selected>-- Välj typ --</option>
                    <option value="food">Mat</option>
                    <option value="drink">Dryck</option>
                 </select>

                @if(item.type === 'food') {
                <select [(ngModel)]="item.category" name="category" class="edit-field">
                    <option value="appetizer">Förrätt</option>
                    <option value="main">Huvudrätt</option>
                    <option value="dessert">Efterrätt</option>
                </select>
                }@else {
                <select [(ngModel)]="item.category" name="category" class="edit-field">
                    <option value="wine">Vin</option>
                    <option value="otherdrink">Övrig dryck</option>
                </select>
                }

                <select [(ngModel)]="item.display" name="display" class="edit-field">
                    <option [ngValue]="true">Visa</option>
                    <option [ngValue]="false">Göm</option>

                </select>

                <button class="btn" (click)="saveEdit(item)">Spara ändringar</button>
                <button class="btn cancelbtn" (click)="cancelEdit()">Avbryt</button>
            } @else {
                <div><h3>{{ item.name }}</h3></div> 
                <div class="menu-item-price">
                    <span>{{ item.price }} kr</span> 
                </div>
                <div class="menu-item-description"><p>{{ item.description }}</p></div>
                <div class="menu-item-tools">
                    <div>
                        <span>
                            @if(item.type === 'food') { mat }
                            @else if(item.type === 'drink') { dryck }
                            @else { odefinierad }
                        </span> 
                        <span>
                            @if(item.category === 'appetizer') { förrätt }
                            @else if(item.category === 'main') { huvudrätt }
                            @else if(item.category === 'dessert') { efterrätt }
                            @else if(item.category === 'wine') { vin }
                            @else if(item.category === 'otherdrink') { Övrig dryck }
                            @else { odefinierad }
                        </span>
                    
                        @if(item.display === true) {
                            <span>Visas</span>
                        }@else {
                            <span>Dold</span>
                        }
                    </div>
                    <div>
                        <span class="editbtn" (click)="startEdit(item)">Ändra</span>
                        <span class="editbtn" (click)="removeItem(item)">Radera</span>
                    </div>
                </div>
            }
        </div>
        }
    </section>

   <!-- Add menu item -->
    <section class="admin-block add-menu-item">
        <h2>Lägg till i menyn</h2>
        <form class="post-menu-item" (ngSubmit)="addMenuItem()">
            <label>Namn
                <input type="text" name="name" [(ngModel)]="newMenuItem.name">
            </label>

            <label>Beskrivning
                <input type="text" name="description" [(ngModel)]="newMenuItem.description">
            </label>

            <select [(ngModel)]="newMenuItem.type" name="type">
                <option [value]="null" disabled selected>-- Välj typ --</option>
                <option value="food">Mat</option>
                <option value="drink">Dryck</option>
            </select>
            
            <label>Kategori
                <select [(ngModel)]="newMenuItem.category" name="category">
                    @if(newMenuItem.type === 'food') {
                    <option value="appetizer">Förrätt</option>
                    <option value="main">Huvudrätt</option>
                    <option value="dessert">Efterrätt</option>
                    } @else {
                    <option value="wine">Vin</option>
                    <option value="otherdrink">Annan dryck</option>
                    }
                </select>
            </label>
    
            <label>Pris
                <input type="number" name="price" [(ngModel)]="newMenuItem.price">
            </label>

            <button class="btn">Lägg till</button>
        </form>
    </section>


    <!-- Add account -->
    <section class="admin-block add-account">
        <h2>Lägg till konto</h2>
        <form (ngSubmit)="register()">
            <label>E-post:
                <input type="email" id="email" name="email" [(ngModel)]="newUser.email">
            </label>

            <label>Lössenord:
                <input type="password" id="password" name="password" [(ngModel)]="newUser.password">
            </label>

            <button class="btn">Registera användare</button>

        </form>
    </section>
</div>
