.admin-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--space-xl);
}

.admin-container h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.admin-container h1 {
    grid-column: 1 / 3;
}

.admin-left, .admin-right {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl)
}

.admin-block {
    background-color: var(--white);
    padding: var(--space-xl);
    border: 1px solid var(--tertiary-color)
}

.error-message {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    min-height: 100px;
    width: 80%;
    max-width: 500px;
    background-color: var(--white);
    color: var(--text-dark);
    padding: var(--space-lg);
    border: 1px solid var(--tertiary-color);
    text-align: center;
}

.reservation {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--space-sm);
    padding-bottom: var(--space-md);
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: var(--space-md);
}

.reservation:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

.res-block {
    display: flex;
    flex-direction: column;
}

.res-status-block {
    font-size: var(--smal-text);
    text-transform: uppercase;
    padding: var(--space-xs) var(--space-sm);
}

.res-new {
    background-color: lightgoldenrodyellow;
    color: var(--text-dark);
}

.res-confirmed {
    background-color: lightgreen;
    color: var(--text-dark);
}

.res-cancelled {
    background-color: lightcoral;
    color: var(--text-dark);
}

.res-label {
    text-transform: uppercase;
    font-size: var(--smal-text);
    color: var(--muted);
}

.res-name, .res-requests {
    grid-column: span 2;
}

.res-edit {
    margin-top: auto;
    display: flex;
    width: min-content;
    gap: var(--space-xs);
    border: 1px solid var(--tertiary-color);
    background-color: transparent;
    padding: var(--space-xs) var(--space-md);
    color: var(--text-dark);
}

.res-edit-icon {
    font-size: 1rem;
}

.edit-reservation {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.edit-reservation-buttons {
    margin-top: var(--space-sm);
    display: flex;
    gap: var(--space-md);
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-xl);
}

.message h3 {
    font-size: 1.2rem;
    margin-bottom: 0.3em;
}

.message-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.message-status {
    width: fit-content;
    padding: var(--space-xs) var(--space-sm);
    font-size: var(--smal-text);
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    color: var(--text-dark);
    text-align: center;
}

.message-status_new {
    background-color: lightgoldenrodyellow;
}

.message-status_pending {
    background-color: lightblue;
}

.message-status_answered {
    background-color: lightgreen;
}

.message-label {
    text-transform: uppercase;
    font-size: var(--smal-text);
    color: var(--muted);
}

.menu-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-sm);
    padding-bottom: var(--space-md);
    border-bottom: 1px solid #ccc;
    margin-bottom: var(--space-md);
    margin-top: var(--space-sm);
}

.menu-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.menu-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.menu-item-description {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.menu-item p {
    margin-bottom: 0;
}

.menu-item-tools {
    grid-column-start: 1;
    grid-column-end: span 2;
    display: flex;
    justify-content: space-between;
    font-size: var(--smal-text);
}

.menu-item-tools > div > span {
    padding-right: 12px;
    text-transform: uppercase;
}

.menu-item-tools > div > span:last-child {
    padding-right: 0;
}

.menu-item-price {
    text-align: right;
}

.edit-field {
    grid-column: span 2;
}

.editbtn {
    text-decoration: underline;
    cursor: pointer;
    width: 30px;
}

.cancelbtn {
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
    color: var(--text-main)
}

.cancelbtn:hover {
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    color: var(--white);
}

.editbtn:hover {
    text-decoration: none;
}

.post-menu-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-account form{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@media(max-width: 700px) {
    .admin-container {
        grid-template-columns: minmax(0, 1fr);  
        grid-template-rows: auto;
    }

    .admin-container h1 {
        grid-column: 1 / 2;
    }
}