.about-title {
    border-bottom: 1px solid #061B0E;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.about-grid h2 {
    font-size: 2rem;
}

.about-grid .cursive {
    font-style: italic;
}

.about-grid .dark-text {
    color: var(--text-dark);
}

.about-grid > div {
    align-self: center;
}

#atmosphere, #craft, #community {
    padding-top: 64px;
    padding-bottom: 64px;
}

@media(max-width: 750px){
    .about-grid {
        grid-template-columns: 1fr;
    }

    figure {
        order: 2;
    }

    #atmosphere, #community {
    padding-top: 64px;
    padding-bottom: 64px;
    }

    #craft {
        padding-top: 0px;
        padding-bottom: 0px;
    }

}