<footer>
    <div class="container footer-container">
        <div>
            <a routerLink="/" class="logo-link">
                <img src="prettyDecentLogo.svg" alt="Pretty Decent" class="logo-img">
            </a>

            <p>Berättelser på tallriken. Samtal runt bordet.</p>
        </div>
        <div>
            <h3>Besök</h3>
            <span>Södermannagatan 19, Stockholm</span>
            <span>Tisdagar - söndagar</span>
            <span>17:00 — sent</span>
        </div>
        <div>
            <h3>Kom i kontakt</h3>
            <span><a>Instagram</a></span>
            <span><a>Tiktok</a></span>
            <span><a>The fork</a></span>
        </div>
        <div>
            <h3>Webben</h3>
            <span>© 2026 Pretty Decent Stockholm.</span>
            <a routerLink="/login">Logga in</a>
        </div>
    </div>
</footer>
